Hi #{seller_username},

#{buyer_username} tried to purchase your listing #{Listing}{#time.now}, but the transaction has failed. Please make sure your PayPal account is connected (link_to ‘payment section of user profile’) and that you have also enabled multi-currency transactions (link_to ‘enable multi-currency instruction page’).
Once you have updated your account, please message #{buyer_username} to let them know you have done so.
If this problem persists,
Please contact us at info@kickmarket.eu.
</br>
KickMarket Crew.