
<style>

    .fixed-ratio-resize { /* basic responsive img */
        max-width: 100%;
        height: auto;
        width: auto; /* IE8 */
    }
</style>
<div class="row">
        <div class="col-12"><u>Update accepted currencies (For all kickmarket sellers)</u><br></div><br>
        <div class="row"> Changing this setting will allow you to accept payments from other currencies which will then be converted to your normal currency. </div>
        <div class="col-12">

            <ol>
                <li>Log in to your PayPal account at https://www.paypal.com.</li>
                <li><p>Click on your profile icon</p>
                    <%= image_tag('add_currency_1.png',  class: "fixed-ratio-resize") %>
                </li>
                <li>
                    <div>
                        <p>Click ‘My selling tools’, then click ‘Update’ under Credit card statement name. 4. Change top setting to ‘Yes, accept…’. Then click ‘Save’.</p>
                    <%= image_tag('add_currency_2.png', class: "fixed-ratio-resize") %></div>
                </li>

                <li><p>Change top setting to ‘Yes, accept…’. Then click ‘Save’.</p>
                    <%= image_tag('add_currency_3.png',  class: "fixed-ratio-resize") %>
                </li>
            </ol>
        </div>
    </div>
</div>